<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :credit_card, CreditCard.new do |c| %>
    <div class="field">
      <%= c.label :number %><br/>
      <%= c.text_field :number %>
    </div>
    <div class="field">
      <%= c.label :cvv, 'Verification' %><br/>
      <%= c.text_field :cvv %>
    </div>
    <div class="field">
      <%= c.label :expiration_month %><br/>
      <%= c.select :expiration_month, (1..12) %>
    </div>
    <div class="field">
      <%= c.label :expiration_year %><br/>
      <%= c.select :expiration_year, (2015..2020) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
