<h1>List of Orders</h1>

<table>
  <thead>
  <style> table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}
    th, td {padding: 5px;}
  </style>
    <tr>
      <th>Order Date</th>
      <th>Order Total</th>
      <th>Items In Order</th>
    </tr>    
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= order.total_price %></td>
  <!-- this total_price is before tax and shing!  Needs to be updated to include.  CHECK WITH ERIK -->
      <td>
        <% order.line_items.each do |item| %>
          <tr>  <%= item.product.title %> </tr>
          <tr>  
            <ul id="rating">
            <% form_id = "product_#{product_id}_rating" %>
            <%= form_for product.rating.last || product.rating.build, :html => { :id => "product_#{product_id}_rating", :class => "star_rating_form" } do |f| %>
              <%= f.hidden_field :product_identifier %>
              <%= f.hidden_field :stars, :id => "#{form_id}_stars" %>
            <% end -%>  
            <% (1..5).each do |i| %>
              <li class="rating_star" product-stars="<%= i %>" product-form-id="<%=form_id %>" id="<%= "#{form_id}_#{i}" %>" ></li>
            </ul>   
          </tr>    
            <% end %>     
          <p>Please rate each product</p> 
       </td>
        <% end %>
  </tbody>    
    
        <td><%= link_to 'Show Current Order', order_path(order) %></td>
        <td><%= link_to 'Edit Order', edit_order_path(order) %></td>
        <td><%= link_to 'Remove Order', order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
<br>

<%= link_to 'New Order', new_order_path %>

