<h1>List of Orders</h1>

<table>
  <thead>
  <style> table, th, td {
    border: 1px solid black;
    border-collapse: collapse;}
    th, td {padding: 5px;}
  </style>
    <tr>
      <th>Order Date</th>
      <th>Order Total</th>
      <th>Items In Order</th>
    </tr>    
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <td><%= order.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= order.total_price %></td>
  <!-- this total_price is before tax and shing!  Needs to be updated to include.  CHECK WITH ERIK -->
      <td>
        <ul>
          <% order.line_items.each do |item| %>
          <li> <a href="#"> <%= item.product.title %> </a></li>
          <% end %>
        <p>Click each product to rate it</p> 
        </ul>
      </td>
    <% end %>
  </tbody>    

        <td><%= link_to 'Show Current Order', order %></td>
        <td><%= link_to 'Edit Order', edit_order_path(order) %></td>
        <td><%= link_to 'Remove Order', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<br>

<%= link_to 'New Order', new_order_path %>
