<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Order Date:</strong>
  <%= @order.created_at.strftime("%m/%d/%Y") %>
</p>


<p>
  <strong>Order Total:</strong>
  $1,000,000.00 <%= number_to_currency @order.order_total %> 
</p>

<p>
  <strong>Items in Order:</strong>
  	<% @order.line_items.each do |item| %>
 			<li> <%= item.product.title %> </li>
 			<br> <br>
 		<% end %>	
</p>




<br> <br>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
